.row.marketing(style='margin-top: 50px')
  .col-md-12(style='text-align: center;')
    a(href='/auth/github/authenticate', style='text-decoration: none;', ng-click='$event.stopPropagation()')
      i.fa.fa-github.fa-7.center-block
.row.marketing
  .col-md-12(style='text-align: center;')
    a(href='/auth/github/authenticate', style='text-decoration: none;', ng-click='$event.stopPropagation()')
      span.center-block login with Github
