include ./partials/search

div(ng-show='noResults' style='margin-top: 30px; text-align: center;')
  .row.marketing
    .col-md-2.col-md-offset-5
      i.fa.fa-question-circle.fa-5
  .row.marketing
    .col-md-2.col-md-offset-5
      span Sorry no result found

.row.marketing
  .col-md-12
    ul(style='list-style-type: none; padding: 0; margin: 0;')
      include ./partials/results

      li.pagination(ng-show='results.length > 0')
        a(ng-click='loadMore()', ng-show='pagination.next_page') load more
        i &nbsp;-&nbsp;
        a(ng-click='loadAll()', ng-show='pagination.next_page') load all
        i &nbsp;
        i.fa.fa-refresh.fa-spin(ng-show='searching')
        i.fa.fa-foursquare(ng-hide='pagination.next_page')

